<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Multimedia/favicon.png" type="image/png">
    <title>Productivty Manager - Your Jobs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #EBFFFF;">
        <a class="navbar-brand mb-0 h1">
            <img src="../Multimedia/logo_transparent.png" width="75" height="75" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="index.html" class="nav-link">Home <span class="sr-only">(Current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="yourjobs.html" class="nav-link">Your Jobs</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span class="dropdown-header" style="color: gray;">Your projects</span>
                        <a href="#" class="dropdown-item">Project 1</a>
                        <a href="#" class="dropdown-item">Project 2</a>
                        <div class="dropdown-divider"></div>
                        <a href="projects.html" class="dropdown-item">View all projects</a>
                        <a href="#" class="dropdown-item">Crete new project</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <br>
    <h1 style="margin-left: 10px;">Your Jobs</h1>
    <br>

        <div class="col-md-3" id="biggerCards1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#" class="card-link"> Ticket 1</a></li>
                        <li class="list-group-item"><a href="#" class="card-link"> Ticket 2</a></li>
                        <li class="list-group-item"><a href="#" class="card-link"> Ticket 3</a></li>
                        <li class="list-group-item"><a href="#" class="card-link"> Ticket 4</a></li>
                    </ul>
                    <a href="javascript:void(0);" onclick = "maxCardSize1();" class="card-link">Toogle size</a>
                </div>
            </div>
        </div>

    <br>
        
        <div>
            <div class="tab col-md-12" style="margin-left:10px;">
                <button class="tablinks" onclick="selectTab(event, 'Working');">Already Worked</button>
                <button class="tablinks" onclick="selectTab(event, 'Assignments');">My Assignments</button>
            </div>
        
            <div id="Working" class="tabcontent">
                <h3>Worked</h3>
                <span>In progress tab</span>
            </div>
        
            <div id="Assignments" class="tabcontent">
                <h3>Assignments</h3>
                <span>Assigned tabs</span>
            </div>
        </div>
        
    
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function selectTab(evt, viewName){
            var i;
            var tabcontent;
            var tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++){
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++){
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(viewName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    
</body>
    